.row.learn-more {
  @include respond(phone) {
    flex-direction: column;

    &.col {
      flex-basis: auto;
      padding: 0;
    }
  }

  .col:first-child {
    padding-left: 0;
    padding-right: 3rem;

    @include respond(phone) {
      flex-basis: auto;
      padding: 0;
    }
  }
  .col:last-child {
    padding-left: 3rem;
    padding-right: 0;

    @include respond(phone) {
      flex-basis: auto;
      padding: 0;
    }
  }

  h2 {
    font-family: acumin-pro, sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--dark-primary);
  }

  p {
    font-size: 1.6rem;
    color: var(--dark-primary);
  }

  button.btn.btn-primary {
    width: 24.8rem;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid var(--dark-primary);
    background-color: var(--dark-primary);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      border: 1px solid var(--dark-primary);
      background-color: var(--dark-primary);
    }
  }
}
