*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {  
  font-size: 62.5%;

  @include respond(big-desktop) {   //1rem = 12px, 12/16 = 75%
    font-size: 75%;
  }
  @include respond(tab-land) {      //1rem = 9px, 9/16 = 56.25%
    font-size: 56.25%;
  }
  @include respond(tab-port) {      //1rem = 8px, 8/16 = 50%
    font-size: 50%;
  }
  @include respond(phone) {         //1rem = 7px, 7/16 = 43.75%
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: url(../img/unifty-icons/cursor-default.svg), auto;

  a:link,
  a:hover,
  a:active,
  .btn:not(:disabled):not(.disabled) {
    cursor: url(../img/unifty-icons/cursor-pointer.svg), auto;
  }
}

.dark-edition {
  --primary-color: #fd79e2;
  --primary-hover-light: rgba(253, 121, 226, .1);
  --primary-hover-dark: #f047ce;

  --title-color: #ec6fd2;

  --bg-primary: #0d141a;
  --bg-secondary: #121a21;
  --bg-tertiary: #121a21;

  --text-primary: #9d9db4;
  --text-footer: #9d9db4;

  --heading-color: #ffffff;
  --subheading-color: rgba(255, 255, 255, .3);

  --modal-border-text: #707070;
  --modal-text: #f4f7fb;

  --image-padding: #192027;
}

.light-edition {
  --primary-color: #202060;
  --primary-hover-light: rgba(32, 32, 96, .1);
  --primary-hover-dark: #06064a;

  --title-color: #202040;

  --bg-primary: #f4f7fb;
  --bg-secondary: #ffffff;
  --bg-tertiary: #eef0f8;

  --text-primary: #4c4c6f;
  --text-footer: rgba(76, 76, 111, .5);

  --heading-color: #202060;
  --subheading-color: rgba(76, 76, 111, .3);

  --modal-border-text: #a3abb2;
  --modal-text: #202040;

  --image-padding: #e2e3e8;
}