*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    //1rem = 12px, 12/16 = 75%
    font-size: 75%;
  }
  @include respond(tab-land) {
    //1rem = 9px, 9/16 = 56.25%
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    //1rem = 8px, 8/16 = 50%
    font-size: 50%;
  }
  @include respond(phone) {
    //1rem = 7px, 7/16 = 43.75%
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
}

// body.dark-edition {
//   cursor: var(--cursor-default);

//   a:link,
//   a:hover,
//   a:active,
//   .btn:not(:disabled):not(.disabled) {
//     cursor: var(--cursor-pointer);
//   }
// }

body.light-edition {
  cursor: var(--cursor-default);

  a:link,
  a:hover,
  a:active,
  .btn:not(:disabled):not(.disabled) {
    cursor: var(--cursor-pointer);
  }
}

// .dark-edition {
//   --primary-color: #fd79e2;
//   --primary-hover-light: rgba(253, 121, 226, .1);
//   --primary-hover-dark: #f047ce;

//   --title-color: #ec6fd2;

//   --bg-primary: #0d141a;
//   --bg-secondary: #121a21;
//   --bg-tertiary: #121a21;

//   --text-primary: #9d9db4;
//   --text-primary-light: rgba(157, 157, 180, .5);
//   --text-footer: #9d9db4;

//   --heading-color: #ffffff;
//   --subheading-color: rgba(255, 255, 255, .3);

//   --modal-border-text: #707070;
//   --modal-text: #f4f7fb;

//   --image-padding: #192027;

//   --traits-bg: rgba(13, 20, 26, .5);

//   --shadow-primary: 0 16px 38px -12px rgba(0, 0, 0, .56),
//     0 4px 25px 0px rgba(0, 0, 0, .12),
//     0 8px 10px -5px rgba(0, 0, 0, .20);

//   --cursor-default: url(../img/unifty-icons/cursor-default-dark.svg), auto;
//   --cursor-pointer: url(../img/unifty-icons/cursor-pointer-dark.svg), auto;
//   --cursor-text: url(../img/unifty-icons/cursor-text-dark-thin.svg), auto;

//   //scrollbar bg
//   -scrollbar-track: rgba(253, 121, 226, .1);
//   --scrollbar-track-shadow: #121a21;
//   --scrollbar-track-hover: #666666;
//   --scrollbar-thumb: linear-gradient(0deg, #5c5c73 27%,rgba(253, 121, 226, .5) 60%);
//   --scrollbar-thumb-hover: linear-gradient(13deg, #414166 14%,#eb7bd6 64%);
// }

// .light-edition {
//   --primary-color: #202060;
//   --primary-hover-light: rgba(32, 32, 96, .1);
//   --primary-hover-dark: #06064a;

//   --title-color: #202040;

//   --bg-primary: #f4f7fb;
//   --bg-secondary: #ffffff;
//   --bg-tertiary: #eef0f8;

//   --text-primary: #4c4c6f;
//   --text-primary-light: rgba(76, 76, 111, .5);
//   --text-footer: rgba(76, 76, 111, .5);

//   --heading-color: #202060;
//   --subheading-color: rgba(76, 76, 111, .3);

//   --modal-border-text: #a3abb2;
//   --modal-text: #202040;

//   --image-padding: #e2e3e8;

//   --traits-bg: #fff;

//   --shadow-primary: 0 16px 38px -12px rgba(225, 225, 225, .56),
//     0 4px 25px 0px rgba(225, 225, 225, .12),
//     0 8px 10px -5px rgba(225, 225, 225, .2);

//   --cursor-default: url(../img/unifty-icons/cursor-default-light.svg), auto;
//   --cursor-pointer: url(../img/unifty-icons/cursor-pointer-light.svg), auto;
//   --cursor-text: url(../img/unifty-icons/cursor-text-light-thin.svg), auto;

//   //scrollbar bg
//   --scrolbar-track: rgba(32, 32, 96, .1);
//   --scrollbar-track-shadow: #f4f7fb;
//   --scrollbar-track-hover: #cdcfd6;
//   --scrollbar-thumb: linear-gradient(0deg, #ccccdd 27%, rgba(32, 32, 96, .5) 60%);
//   --scrollbar-thumb-hover: linear-gradient(13deg, #b8b8c5 14%, #202060 64%);
// }

.toast-warning {
  background-color: #dc3545;
}

.toast-success {
  background-color: #28a745;
}

.toast-info {
  background-color: #007bff;
}

.light-edition {
  // ------ used colors --------
  --dark-primary: #19284d;
  --dark-primary-light: rgba(25, 40, 77, 0.5);
  --dark-primary-hover: rgba(25, 40, 77, 0.1);
  --dark-secondary: #161f36;

  --light-primary: #f2f5fa;

  --grey-primary: #d8d8d8;
  --golden-primary: #fcc117;
  --green-primary: #7cee00;

  --white: #fff;
  // ----------------------------

  --shadow-primary: 0 0 4px 0 rgba(0, 0, 0, 0.24);
  --shadow-secondary: 0 6px 6px 0 rgba(0, 0, 0, 0.16);

  --primary-color: #202060;
  --primary-hover-light: rgba(32, 32, 96, 0.1);
  --primary-hover-dark: #06064a;

  --title-color: #202040;

  --bg-primary: #f4f7fb;
  --bg-secondary: #19284d;
  --bg-tertiary: #eef0f8;

  --text-primary: #4c4c6f;
  --text-primary-light: rgba(76, 76, 111, 0.5);
  --text-footer: rgba(76, 76, 111, 0.5);

  --heading-color: #202060;
  --subheading-color: rgba(76, 76, 111, 0.3);

  --modal-border-text: #a3abb2;
  --modal-text: #202040;

  --image-padding: #e2e3e8;

  --traits-bg: #fff;

  // --shadow-primary: 0 16px 38px -12px rgba(225, 225, 225, 0.56),
  //   0 4px 25px 0px rgba(225, 225, 225, 0.12),
  //   0 8px 10px -5px rgba(225, 225, 225, 0.2);

  --cursor-default: url(../img/unifty-icons/cursor-default-light.svg), auto;
  --cursor-pointer: url(../img/unifty-icons/cursor-pointer-light.svg), auto;
  --cursor-text: url(../img/unifty-icons/cursor-text-light-thin.svg), auto;

  --scrolbar-track: rgba(32, 32, 96, 0.1);
  --scrollbar-track-shadow: #f4f7fb;
  --scrollbar-track-hover: #cdcfd6;
  --scrollbar-thumb: linear-gradient(
    0deg,
    #ccccdd 27%,
    rgba(32, 32, 96, 0.5) 60%
  );
  --scrollbar-thumb-hover: linear-gradient(13deg, #b8b8c5 14%, #202060 64%);
}
