.dark-edition .sidebar {
  width: 30rem;

  @include respond(big-desktop) {
    width: 33rem;
  }
  @include respond(nav-collapse) {
    width: 260px;
  }

  .sidebar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .sidebar-bottom {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      ul {
        text-align: center;
        font-size: 1.4rem;

        & li:nth-child(2) {
          margin: 2rem 0;
        }
      }
    }
  }
}

.dark-edition .main-panel {
  width: calc(100% - 30rem);

  @include respond(big-desktop) {
    width: calc(100% - 33rem);
  }
  @include respond(nav-collapse) {
    width: 100%;
  }
}

.dark-edition .main-panel {
  background-color: $dark-primary;

}

//-------- HEADER ----------
.main-panel .content {
  margin-top: .5rem;
  padding: 3rem 5rem;

  &__welcome-text {
    width: 50%;
    font-size: 1.4rem;
    color: $grey-tertiary;
    padding: .8rem 0;
  }
}

.content .custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $pink-title;
    font-size: 4.5rem;
    font-weight: 700;
  }

  &__dropdowns {
    display: flex;

    .switch-light-mode  {
      img {
        max-width: 6rem;
        max-height: 6rem;
        fill: $pink;
      }
    }
  }
}