h1 {
  font-family: acumin-pro, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.48px;
  color: var(--dark-primary);
}

h1#nftContractNameTitle,
h1.nftListingsTitle {
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    font-family: "Material Icons Round";
    content: "push_pin";
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 0.5rem;
    transform: rotate(-45deg);
  }
}

h1#nftContractNameTitle {
  margin-top: 4rem;
}

h1.nftListingsTitle {
  justify-content: flex-start;
  margin-bottom: 1rem;
}

h2 {
  font-family: acumin-pro, sans-serif;
  font-size: 2.2rem;
  // letter-spacing: 0.32px;
  color: var(--dark-primary);
  font-weight: 700;
}

h3 {
  font-family: acumin-pro, sans-serif;
  font-size: 1.6rem;
  // letter-spacing: 0.32px;
  color: var(--dark-secondary);
  margin: 0 0 1rem;
}

.text-muted a {
  color: var(--heading-color);
}
