//COLORS
$pink: #f879e2;
$pink-darker: #9e3e8d;
$pink-hover: rgba(253, 121, 226, .1);
$pink-title:#ec6fd2;

$dark-primary: #0d141a;
$dark-secondary: #121a21;

$grey-primary: #a3abb2;
$grey-secondary: #c2cad1;
$grey-tertiary: #9d9db4;

$color-divider: #4c4c6f;