.light-edition,
.dark-edition {
  #chainSelectionDropdown,
  #walletActions,
  #bridgeActions,
  #categoryDropdown,
  .dropdown-primary {
    background-color: var(--white);
    color: var(--dark-primary);
    border: 0.1rem solid var(--dark-primary);
    box-shadow: none;
    font-size: 1.4rem;
    text-transform: none;
    padding: 1rem 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    border-radius: 0;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: #ffffff !important;
    background-color: var(--primary-color);
  }

  #bridgeActions {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.8rem 1.2rem;

    span {
      font-size: 1.4rem;
      margin-right: 0.3rem;
    }
  }

  .dropdown-menu {
    width: 18rem;
    background-color: var(--white);

    a.dropdown-item {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item {
    color: var(--dark-primary);
    padding: 1rem 1.2rem;

    &:hover {
      color: var(--dark-primary);
      background: none;
      box-shadow: none;
      background-color: var(--dark-primary-hover);
    }
  }
}
