#chainSelectionDropdown,
#walletActions,
#bridgeActions {
  background-color: $dark-secondary;
  color: $pink;
  border: .2rem solid $pink;
  border-radius: .8rem;
  box-shadow: none;
  font-size: 1.8rem;
  text-transform: none;
  padding: 1rem 1.8rem;
  font-weight: 700;
}

#walletActions,
#bridgeActions {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  padding: .8rem 1.2rem;

  span {
    font-size: 1.4rem;
    margin-right: .3rem;
  }
}

.dropdown-menu {
  background-color: $dark-secondary;

  a.dropdown-item {
    font-size: 1.4rem;    
  }
}

.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 1rem 1.2rem;
  
  &:hover {
    background: none;
    box-shadow: none;
    background-color: rgba(248, 121, 226, .1);
  }
}