.dark-edition .card.farm-card {
  // background: linear-gradient(30deg, 
  //   rgba(18, 26, 33, 1) 50%, 
  //   rgba(255, 118, 226, .15) 73%, 
  //   rgba(255, 118, 226, .35) 100%);  

  .card-body {
    a {
      font-size: 1.1rem;
    }

    .card-title {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: .32px;
      margin-bottom: 1rem;
      color: #fff;
      display: flex;
      width: calc(100% - 10rem);
      // height: 9rem;
    }

    .card-description {
      font-size: 1.2rem;
      font-weight: 300;
      color: $grey-tertiary;
    }
  }
}

.card.card.farm-card {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1rem;

  [class*="card-header-"] {
    margin: 0;
    background-color: none;
  }

  //card picture
  .card-header.card-header-info.card-header-icon {
    box-shadow: none;

    .card-icon {
      position: absolute;
      right: 0;
      top: 0;

      width: 10rem;
      height: 10rem;
      border-radius: .3rem;

      margin: 0;
      padding: 1rem;
      background-color: none;
      background: none;
      box-shadow: none;

      a {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: .3rem;
      }
    }
  }

  .card-body {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    //toggler collapsible
    .btn.btn-primary.card-toggler {
      display: flex;
      align-items: center;
      text-transform: none;
      background: none;
      box-shadow: none;
      padding: 1rem 0;
      text-align: left;
      width: calc(100% - 10rem);

      //collapsible carets switch
      &[aria-expanded="false"] {
        &::after {
          font-family: "Material Icons Round";
          content: "keyboard_arrow_down";
          font-size: 2.4rem;
        }
      }
      &[aria-expanded="true"] {
        &::after {
          font-family: "Material Icons Round";
          content: "keyboard_arrow_up";
          font-size: 2.4rem;
        }
      }

      &:hover {
        color: $pink-title;
      }
    }
  }
}

.dark-edition .main-panel .content .container-fluid .row .col-xl-4 {

  &:nth-of-type(1) {
    .card.farm-card {
      .card-body {
        background: $lg-blue;
      }
    }
  }
  &:nth-of-type(2) {
    .card.farm-card {
      .card-body {
        background: $lg-yellow;
        ;
      }
    }
  }
  &:nth-of-type(3) {
    .card.farm-card {
      .card-body {
        background: $lg-purple;
      }
    }
  }  
}