.dark-edition .card.farm-card {
  margin: 1rem 2rem 1rem 0;

  .card-body {
    box-shadow: $shadow-secondary-dark;

    a {
      font-size: 1.1rem;

      &:hover {
        color: $pink;
      }
      
      i {
        margin-right: .5rem;
      }
    }

    .card-title {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: .32px;
      margin-bottom: 1rem;
      color: #fff;
      display: flex;
      width: calc(100% - 10rem);
      height: 6rem;
    }

    .card-description {
      font-size: 1rem;
      font-weight: 300;
      color: $grey-tertiary;
    }
  }
}

.card.card.farm-card {
  width: 25rem;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1rem;

  [class*="card-header-"] {
    margin: 0;
    background-color: none;
  }

  //card picture
  .card-header.card-header-info.card-header-icon {
    box-shadow: none;

    .card-icon {
      position: absolute;
      right: 0;
      top: 0;

      width: 10rem;
      height: 10rem;
      border-radius: .3rem;

      margin: 0;
      padding: 1rem;
      background-color: none;
      background: none;
      box-shadow: none;

      a {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: .3rem;
      }
    }
  }

  .card-body {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: .8rem;

    //toggler collapsible
    .btn.btn-primary.card-toggler {
      display: flex;
      align-items: center;
      text-transform: none;
      background: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      text-align: left;
      width: calc(100% - 10rem);

      //collapsible carets switch
      &[aria-expanded="false"] {
        &::after {
          font-family: "Material Icons Round";
          content: "keyboard_arrow_down";
          font-size: 1.8rem;
        }
      }
      &[aria-expanded="true"] {
        &::after {
          font-family: "Material Icons Round";
          content: "keyboard_arrow_up";
          font-size: 1.8rem;
        }
      }

      &:hover {
        color: $pink-title;
      }
    }
  }
}

.dark-edition .main-panel .content .container-fluid.featured-farms .card.farm-card {

  &:nth-of-type(3n+1) {
    .card-body {
      background: $lg-blue;
    }
  }
  &:nth-of-type(3n+2) {
    .card-body {
      background: $lg-yellow;
    }
  }
  &:nth-of-type(3n+3) {
    .card-body {
      background: $lg-purple;
    }
  }
}