.link-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);

  &__icon {
    height: 17.6rem;
    background-color: var(--light-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    box-shadow: var(--shadow-primary);
  }

  &__btn {
    height: 9.2rem;
    background-color: var(--dark-primary);
    color: var(--white);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.disabled-card {
  img {
    opacity: 0.5;
  }

  div {
    color: rgba(255, 255, 255, 0.5) !important;
  }
}
