.dark-edition .main-panel .modal-dialog .modal-content,
.light-edition .main-panel .modal-dialog .modal-content {
  border: 0.1rem solid var(--grey-primary);
  background-color: var(--light-primary);

  .close:not(:disabled):not(.disabled) {
    cursor: var(--cursor-pointer);
  }

  .modal-non-nft-content a {
    color: var(--primary-color);
    font-weight: 400;

    &:hover,
    &:active {
      color: var(--primary-hover-dark);
    }
  }

  .modal-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: var(--dark-primary);
    border-bottom: 0.1rem solid var(--grey-primary);

    h5.modal-title {
      font-family: acumin-pro, sans-serif;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.48px;
    }

    //icon close
    .close {
      color: var(--dark-primary);
      opacity: 1;
      text-shadow: none;

      &:focus {
        outline: none;
      }

      span {
        font-size: 2rem;
      }
    }
  }

  .modal-body {
    padding: 1rem 2rem;
    color: var(--dark-secondary);
    font-size: 1.6rem;

    .container {
      background-color: var(--white);
      margin-bottom: 1rem;
      padding-bottom: 10px;

      &::-webkit-scrollbar {
        width: 0.7rem;
        height: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--dark-primary);
      }
      &::-webkit-scrollbar-track {
        background-color: var(--grey-primary);
      }
    }

    select {
      background-color: transparent;
      height: auto;
      background-image: none;
      border: 0.1rem solid var(--grey-primary);
      border-radius: 0;
      font-size: 1.4rem;
      color: var(--dark-secondary);
      padding: 1rem;

      &:hover {
        cursor: var(--cursor-pointer);
      }

      option {
        padding: 0.5rem 0;
      }
    }

    .col {
      padding: 0;
    }

    // nft title
    h3#nftBuyTitle {
      font-size: 1.8rem;
      font-weight: 700;
      color: var(--dark-primary);
    }

    &.modal-non-nft-content button,
    .form-group button {
      min-width: 10rem;
      padding: 0.8rem 0.5rem;
      font-size: 1.4rem;
      border: 0.1rem solid var(--dark-primary);
      border-radius: 0;
      background-color: var(--dark-primary);
      color: var(--white);
      box-shadow: none;

      &:hover {
        border: 0.1rem solid var(--dark-primary);
        color: var(--white);
        cursor: var(--cursor-pointer) !important;
      }
    }

    .form-group button {
      margin-top: 1rem;
    }

    // radio btn text
    .form-check .form-check-label {
      font-size: 1.4rem;
      color: var(--dark-secondary);
    }

    form .form-group label {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--dark-primary);

      &:hover {
        cursor: var(--cursor-pointer);
      }

      span {
        &.required {
          color: var(--primary-color);
          margin-left: 0.3rem;
        }

        &.material-icons-round {
          font-size: 2.2rem;
          color: var(--modal-border-text);
          margin-left: 0.5rem;

          &:hover {
            color: var(--primary-color);
            cursor: var(--cursor-pointer);
          }
        }
      }
    }

    form .form-group input,
    .col-3 input {
      height: auto;
      background-color: transparent !important;
      background-image: none;
      border: 0.1rem solid var(--grey-primary);
      border-radius: 0;
      padding: 0.8rem 1rem;
      font-size: 1.4rem;
      line-height: normal;
      color: var(--dark-secondary);
      transition: all 0.3s;

      &::placeholder {
        font-size: 1.4rem;
        color: var(--grey-primary);
      }

      &:focus {
        border: 0.1rem solid var(--dark-primary);
      }
    }

    .col-3 input {
      padding: 0.5rem 1rem;
    }

    form .form-group textarea {
      height: auto;
      background-color: transparent;
      background-image: none;
      border: 0.1rem solid var(--modal-border-text);
      border-radius: 0.8rem;
      padding: 1rem;
      font-size: 1.3rem;
      color: var(--modal-text);
      transition: all 0.3s;

      &:focus {
        border: 0.1rem solid var(--primary-color);
      }
    }

    form fieldset {
      margin-top: 2.5rem;
      legend {
        color: $grey-primary;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 1rem;
        font-weight: 700;
      }

      .form-row {
        margin: 0;
      }

      .form-group {
        input,
        select {
          height: auto;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .modal-footer {
    border-top: 0.1rem solid var(--grey-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    line-height: 1.3;

    // total nif info
    h4 {
      color: #6c757d;
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    & > :not(:first-child) {
      margin-left: 0;
    }

    .footer-description {
      margin: 0 0 1rem 0;
    }

    .buttons-container {
      width: 100%;
      display: flex;
    }

    div {
      font-size: 1.4rem;
      color: var(--modal-border-text);
    }

    .btn {
      box-shadow: none;
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
    }

    .btn.btn-secondary {
      width: 25rem;
      flex: 1;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid var(--dark-primary);
      background-color: var(--white);
      color: var(--dark-primary);
      font-size: 1.6rem;
      font-weight: 700;
      margin: 0 1rem 0 0;

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
        border: 1px solid var(--dark-primary);
        background-color: var(--white);
      }

      &:only-child {
        margin: 0 auto;
      }
    }

    .btn.btn-primary {
      flex: 1;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid var(--dark-primary);
      background-color: var(--dark-primary);
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 700;

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
        border: 1px solid var(--dark-primary);
        background-color: var(--dark-primary);
      }
    }
  }
}
