#collectiblePage .collectible-wrapper {
  display: flex;
}

#collectiblePage .collectible-wrapper .image-container {
  flex: 2;
  background-color: var(--light-primary);
  margin-right: 3rem;
  padding: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  box-shadow: var(--shadow-primary);

  .btn.btn-outline.video-btn-link {
    border: 1px solid var(--dark-primary);
    background-color: var(--white) !important;
    color: var(--dark-primary);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    max-width: 25rem;

    span {
      font-size: 2.4rem;
      margin-right: 0.5rem;
    }
  }
}

#collectiblePage .collectible-wrapper .details-container {
  flex: 4;
  display: flex;
  flex-direction: column;

  &__upper {
    background-color: var(--light-primary);
    padding: 6rem 6rem 4.8rem 6rem;
    box-shadow: var(--shadow-primary);

    //title and stocks
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title h4 {
        font-family: acumin-pro, sans-serif;
        font-size: 3.6rem;
        color: var(--dark-primary);
        font-weight: 700;
        margin: 0;
        a {
          color: inherit;
        }
      }

      #amount-div {
        span.badge.badge-info {
          background-color: unset;
          color: var(--dark-secondary);
          font-size: 1.4rem;
        }
      }
    }

    //collection name
    .collection-name {
      font-size: 1.8rem;
      color: var(--dark-secondary);
    }

    //buy button and price
    #actions-container {
      .nft-price {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--dark-secondary);
      }
      a {
        color: inherit;
      }

      .btn.btn-outline {
        width: 50%;
        min-width: 33.8rem;
        box-shadow: none;
        border-radius: 0;
        border: 1px solid var(--dark-primary);
        background-color: var(--dark-primary) !important;
        color: var(--white);
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
  }

  &__lower {
    #collapse-nft-description.collapse.show,
    #collapse-nft-description.collapsing,
    #collapse-nft-description.collapse {
      font-size: 1.8rem;
      color: var(--dark-secondary);
      border: 1px solid var(--light-primary);
      padding: 0 4.5rem;
      margin-bottom: 0.8rem;

      .utils-vertical {
        height: 1rem;
      }
    }

    #collapse-nft-details.collapse.show,
    #collapse-nft-details.collapsing,
    #collapse-nft-details.collapse {
      font-size: 1.4rem;
      color: var(--dark-primary);
      border: 1px solid var(--light-primary);
      padding: 0 4.5rem;
      margin-bottom: 0.8rem;

      .utils-vertical {
        height: 1rem;
      }

      div:not(:last-child) {
        margin-bottom: 1rem;
      }

      div > span:first-child {
        display: inline-block;
        width: 20rem;
        text-transform: uppercase;
      }
      div > :nth-child(2n) {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }

    #collapse-nft-traits.collapse.show,
    #collapse-nft-traits.collapsing,
    #collapse-nft-traits.collapse {
      font-size: 1.4rem;
      color: var(--dark-primary);
      border: 1px solid var(--light-primary);
      padding: 0 3rem;
      margin-bottom: 0.8rem;

      .utils-vertical {
        height: 1rem;
      }

      div:not(:last-child) {
        margin-bottom: 1rem;
      }

      div > span:first-child {
        display: inline-block;
        width: 20rem;
        text-transform: uppercase;
      }
      div > :nth-child(2n) {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }
}
