.nftListing {
  width: 36rem;

  .card-profile {
    position: relative;
    margin-top: 0;

    //image
    .card-avatar {
      min-width: 15.6rem;
      min-height: 15.6rem;
      max-width: 15.6rem;
      max-height: 15.6rem;
      padding: .8rem !important;
      margin: 1.5rem auto .5rem;
    }

    .card-body {
      position: static;

      //title
      h5.card-title {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: .28px;
        a {
          color: #fff;
        }
      }

      //stocks
      .badge {
        padding: .5rem;
        font-size: 1rem;
        font-weight: 400;

        border-right: .1rem solid #fff;

        &.badge-info {
          color: $stocks-font;
          background-color: transparent;
        }
      }

      //points
      a.redeemButton {
        font-size: 1.4rem;
        box-shadow: none;
        border: none;
        text-transform: none;
        border-radius: .6rem;
        background-color: $pink;
        color: #000;
        padding: .3rem .8rem;
        font-weight: 500;

        &:active {
          color: #fff;
          background-color: #9e3e8d;
          font-weight: 400;
        }
      }

      //traits
      a.traits {
        font-size: 1.4rem;
        border: .1rem solid $grey-border;
        border-radius: .6rem;
        background-color: $dark-primary !important;
        text-transform: none;
        color: $grey-border;
        padding: .3rem .8rem;
      }

      //description
      .popover-description {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: $grey-primary;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0;

        span {
          font-size: 1.8rem;
        }

        &:hover, &:active {
          span {
            color: #fff;
          }
        }
      }

      //options
      .dropdown {
        position: absolute;
        top: 1rem;
        left: 1rem;

        a {
          padding: 0;
          margin: 0;
          background-color: transparent;
          box-shadow: none;

          &::after {
            content: none;
          }

          &:hover, &:active {
            span {
              color: #fff;
            }
          }

          span {
            color: $grey-primary;
            font-size: 1.8rem;
          }
        }
      }

      .dropdown.show a {
        background-color: transparent;

        span {
          color: #fff;
        }
        
      }
    }
  }
}


.dark-edition .popover.fade.bs-popover-bottom {
  background-color: $dark-secondary;
  box-shadow: none;

  .arrow, .arrow::before {
    display: none;
  }

  .popover-header, .popover-body {
    padding: 1rem;
    color: $grey-primary;
  }
  
  .popover-header {
    background-color: transparent;
    border-bottom: .1rem solid $grey-border;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .32px;

    &::before {
      content: none;
    }
  }

  .popover-body {
    font-size: 1rem;
    font-style: italic;
  }
}