.dark-edition
  .main-panel
  .content
  .container-fluid
  #offersPage.row
  .nftListing
  .card.card-profile
  .card-body,
.light-edition
  .main-panel
  .content
  .container-fluid
  #offersPage.row
  .nftListing
  .card.card-profile
  .card-body {
  // buy button
  button.btn-outline {
    background: var(--dark-primary) !important;
    border-radius: 0;
    border: 0.1rem solid var(--dark-primary);
    font-size: 1.8rem;
    color: var(--light-primary);
    font-weight: 700;
    padding: 0.5rem 0.8rem 0.7rem 0.8rem;
    width: 100%;
  }

  // open details button
  button.btn-outline.show-details {
    background-color: var(--white) !important;
    color: var(--dark-primary);

    a {
      display: inline-block;
      width: 100%;
      color: inherit;
      font-size: 1.4rem;
    }
  }
}
