.dark-edition .main-panel .nftHeader-stakingOptions-container,
.light-edition .main-panel .nftHeader-stakingOptions-container {
  #farmHeader {
    margin-right: 4.8rem;
    box-shadow: $shadow-secondary-dark;
    border-radius: .8rem;

    @include respond (bootstrap-xxl) {
      margin-right: 0;
      margin-bottom: 3rem;
    }

    .nftHeader.col-md-12.mb-4 {
      padding: 0 !important;
      margin: 0 !important;
    }

    //reset paddings and margins
    .nftHeader {
      margin: 0 !important;

      .card {        
        margin: 0;
        border-radius: .8rem;
        height: 100%;
        color: var(--text-primary);
        word-wrap: normal;
        padding: .5rem 2rem;

        .card-content {
          display: flex;

          //image
          .col-3 {
            min-width: 5rem;
            max-width: 10rem;
            img {
              margin: 2rem 0;
            }
          }

          //title and description
          .col-9 {
            padding: 0;

            .card-body {
              padding: 2rem 0;
              font-size: 1.4rem;
            }
          }
        }

        .card-links {
          padding: 0 1rem;          

          a {
            display: inline-flex;
            align-items: center;
            margin: 0;
            padding: .5rem;
            font-size: 1.1rem;
            color: var(--text-footer);

            &:hover, &:active {
              color: var(--heading-color);
            }

            i {
              font-size: 1.8rem;
              margin-right: .5rem;
            }
          }

          //phone number
          .mt-2 {
            font-size: 1.1rem;
            margin: 1rem 0 1rem .5rem;
            color: var(--text-footer);
          }
        }
      }
    }
  }
}