.dark-edition .main-panel .nftHeader-stakingOptions-container {
  #farmHeader {
    flex: 3;
    margin-right: 4.8rem;

    .nftHeader.col-md-12.mb-4 {
      padding: 0 !important;
      margin: 0 !important;
    }

    //reset paddings and margins
    .nftHeader {
      margin: 0 !important;

      .card {        
        margin: 0;
        border-radius: .8rem;
        height: 100%;
        color: $grey-tertiary;

        .card-content {
          display: flex;

          //image
          .col-3 img {
            margin: 2rem 0;
          }

          //title and description
          .col-9 {
            padding: 0;

            .card-body {
              padding: 2rem 0;
              font-size: 1.4rem;
            }
          }
        }

        .card-links {
          padding: 0 1rem;          

          a {
            display: inline-flex;
            align-items: center;
            margin: 0;
            padding: .5rem;
            font-size: 1.1rem;
            color: $grey-tertiary;

            &:hover, &:active {
              color: #fff;
            }

            i {
              font-size: 2rem;
              margin-right: .5rem;
            }
          }

          //phone number
          .mt-2 {
            font-size: 1.1rem;
            margin: 1rem 0 1rem .5rem;
          }
        }
      }
    }
  }
}