.light-edition
  .main-panel
  .content
  .container-fluid
  .card
  .card-body
  #redemptionForm {
  .form-group label.form-label {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark-primary);

    &:hover {
      cursor: var(--cursor-pointer);
    }
  }

  .form-group input {
    height: auto;
    background-color: transparent !important;
    background-image: none;
    border: 0.1rem solid var(--grey-primary);
    border-radius: 0;
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--dark-secondary);
    transition: all 0.3s;

    &::placeholder {
      font-size: 1.3rem;
      color: var(--grey-primary);
    }

    &:focus {
      border: 0.1rem solid var(--dark-primary);
    }
  }

  .form-group .form-text {
    font-size: 1.2rem;
    color: var(--dark-secondary);
  }

  button#form-submit {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid var(--dark-primary);
    background-color: var(--dark-primary);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      border: 1px solid var(--dark-primary);
      background-color: var(--dark-primary);
    }
  }
}
