.light-edition
  .main-panel
  .content
  .container-fluid
  .card
  .card-body.claim-form {
  padding: 3.2rem 2.4rem 4.8rem;

  #redemptionForm {
    .form-group {
      margin: 0;
      padding: 0;
    }

    .form-group label.form-label {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--dark-primary);
      margin: 0;

      &:hover {
        cursor: var(--cursor-pointer);
      }
    }

    .form-group input {
      height: auto;
      background-color: var(--white) !important;
      background-image: none;
      border: 0.1rem solid var(--grey-primary);
      border-radius: 0;
      padding: 0.8rem 1rem;
      line-height: normal;
      font-size: 1.6rem;
      color: var(--dark-secondary);
      transition: all 0.3s;
      margin: 2.4rem 0;

      &::placeholder {
        font-size: 1.6rem;
        color: var(--grey-primary);
      }

      &:focus {
        border: 0.1rem solid var(--dark-primary);
      }
    }

    .form-group .form-text {
      font-size: 1.6rem;
      color: var(--dark-secondary);
      margin: 0 0 3.2rem 0;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      //Hide default checkbox
      input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }

      label {
        height: max-content;
        margin: 0;

        font-family: acumin-pro, sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: var(--dark-primary);

        a {
          color: inherit;
          font-weight: 700;
        }
      }

      .check {
        width: 25px;
        height: 25px;
        background-image: url("../img/check_box.svg");

        margin-right: 10px;
        cursor: pointer;
      }

      input:checked ~ .check {
        background-image: url("../img/check_box_ticked.svg");
      }
    }

    button#form-submit {
      width: 24.8rem;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid var(--dark-primary);
      background-color: var(--dark-primary);
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 700;

      opacity: 0.5;
      cursor: not-allowed;

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
        border: 1px solid var(--dark-primary);
        background-color: var(--dark-primary);
      }
    }
  }
}
