.dark-edition .card .card-body h4.card-title {
  font-size: 1.4rem;
  color: $grey-tertiary;
}

.main-timeline h5.title{
  font-family: "Poppins", sans-serif;
  color: $grey-tertiary;
  font-size: 2rem;
  font-weight: 400;
}

.main-timeline p.description {
  font-size: 1.4rem;
  color: $grey-tertiary;
  font-weight: 300;
}