.dark-edition .card.roadmap,
.light-edition .card.roadmap {
  margin-top: 1rem;
  margin-bottom: 3rem;
  box-shadow: var(--shadow-primary);

  .card-body {
    padding: 3rem 2rem;

    .main-timeline {
      &::before {
        background: var(--primary-color);
      }
    }
  }
}

.main-timeline .year, 
.main-timeline .month {
  color: var(--bg-primary);
}

.main-timeline h5.title{
  font-family: "Poppins", sans-serif;
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: 400;
}

.main-timeline p.description {
  font-size: 1.6rem;
  color: var(--text-footer);
  font-weight: 400;

  strong {
    color: var(--heading-color);
  }
}

.main-timeline .date-outer {
  &:before {
    background: var(--primary-color);
    border: .2rem solid var(--bg-secondary);
  }
  &::after {
    border: .3rem solid var(--title-color);
  }
}

.main-timeline .date-content:before {
  background: var(--primary-color);
}
.changelog-date h3{
  font-size: large;
  font-weight: bold;
}

.changelog-grid{
  display:grid;
  grid-template-columns:90px auto;
  grid-gap:10px;
  div{
   padding: 5px 0;
  }

}
@mixin changelog-tag{

  text-align: center;
  max-width: 84px;
  border-radius: 11px;
  color: #f4f7fb;
  font-size: 12px;
  font-weight: bold;
}
.changelog-tag-new {
  padding: 2px 29px;
  @include changelog-tag;
  background-color: #9c27b0;
}
.changelog-tag-improved {
  padding: 2px 12px;
  @include changelog-tag;
  background-color: #202060;
}
.changelog-tag-fixed {
  padding: 2px 26px;
  @include changelog-tag;
  background-color: #6c757d;

}

.changelog-text{
  float: right;
  width: 80%;
}
.changelog-text{
  color: #4c4c6f;
  font-size: 18px;

  span{
    margin-bottom:16px;
    display: block;
  }
  a{
    font-weight: bolder;
    text-decoration: none;
  }
}