.dark-edition .sidebar,
.dark-edition .sidebar::before {
  background-color: $dark-secondary;
  font-size: 1.6rem;
}

.sidebar .sidebar-wrapper {
  padding-bottom: 15rem;
}

.dark-edition .sidebar li.active > a {
  background-color: $pink;
}

.dark-edition .sidebar .logo {
  padding-bottom: 1rem;
  
  a.simple-text:hover {
    background-color: transparent;
  }
}

.sidebar .logo::after {
    content: none;
}

.sidebar .nav {
  margin-top: 1rem;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  padding: .5rem;
  border-radius: .8rem;
}

.sidebar .nav i {
  font-size: 2.1rem;
  color: $pink;
  margin-right: 1.3rem;
}

.sidebar .nav p {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: $grey-primary;    
}

.sidebar .nav li.active a i,
.sidebar .nav li.active a p {
  color: $dark-secondary;
}

.sidebar .nav .nav-item:not(.nav-item.active) a:hover {
  background-color: $pink-hover;
}

.sidebar .nav li:first-child > a {
  margin: 0 2.4rem;
}

.sidebar .nav li:not(:first-child) > a {
  margin: 1rem 2.4rem 0;
}

.sidebar-divider {
  border-bottom: .1rem solid $color-divider;
  margin: 1.5rem 2.4rem;
}

//------- ICONS AND RIGHTS ------------
.sidebar-text {
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: $grey-secondary;

  &.icons {
    margin: 4rem 0 1rem;
    span a:nth-child(2) {
      margin: 0 4rem;
    }
  }

  &.rights {
    span {
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 0.24px;
      i {
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }
}