#balance-container {
  // width: 24em;
  padding: 1rem 1.5rem;

  // @include respond(tab-land) {
  //   width: 22em;
  // }
  // @include respond(phone) {
  //   width: 20em;
  // }

  background-color: var(--dark-primary);
  text-align: right;
  font-weight: bold !important;
  font-family: acumin-pro, sans-serif;
  transition: 0.3s;

  h3 {
    color: var(--light-primary);
    font-weight: inherit;
    margin: 0;
    font-family: inherit;
    transition: inherit;
  }

  #wallet-balance {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    line-height: normal;

    color: var(--green-primary);
    font-weight: inherit;
    font-family: inherit;
    transition: inherit;
  }
}
