#balance-container {
  padding: 1rem 1.5rem;

  background-color: var(--dark-primary);
  text-align: right;
  font-weight: bold !important;
  font-family: acumin-pro, sans-serif;
  transition: 0.3s;

  @include respond(phone) {
    width: 100%;
  }

  h3 {
    color: var(--light-primary);
    font-weight: inherit;
    margin: 0;
    font-family: inherit;
    transition: inherit;
  }

  .balance-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__icon {
      margin-right: 3rem;
      margin-top: 0.7rem;
      width: 3.5rem;
    }
  }

  #wallet-balance {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    line-height: normal;

    color: var(--green-primary);
    font-weight: inherit;
    font-family: inherit;
    transition: inherit;
  }
}
