.footer {
  padding: .5rem;
  background: $dark-secondary;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 56%), 
    0 4px 25px 0px rgba(0, 0, 0, 12%), 
    0 8px 10px -5px rgba(0, 0, 0, 20%);

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;

    li.nav-item a {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: $grey-primary;
      padding: 0;

      &:hover {
        color: $pink-darker;
      }

      span {
        font-size: 2rem;
        margin-right: .3rem;
      }
    }
  }
}