.footer {
  position: fixed;
  bottom: 0;
  left: 30rem;
  width: calc(100% - 40rem);

  @include respond(big-desktop) {
    left: 33rem;
    width: calc(100% - 43rem);
  }
  @include respond(nav-collapse) {
    left: 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
  }

  margin: 0 5rem;
  padding: 0.8rem 0;
  background: var(--light-primary);
  box-shadow: var(--shadow-primary);

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    .unifty-contacts {
      display: flex;
      flex-direction: column;
      color: var(--dark-primary-light);

      &__icons {
        display: none;
        //display: flex;

        a {
          padding: 0 2.6rem;

          i {
            font-size: 1.4rem;
          }

          &:first-child {
            padding-left: 0;
          }
        }
      }

      &__text {
        font-size: 1.2rem;
      }
    }

    li.nav-item#torus {
      position: relative;
      min-width: 10rem;
      a {
        padding: 0;
        position: absolute;
        right: 0;
        bottom: -10px;

        img {
          width: 6.5rem;
        }
      }
    }

    li.nav-item a {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--dark-primary);
      padding: 0 15px;

      span {
        font-size: 2rem;
        margin-right: 0.5rem;
      }

      img {
        margin: 0 0.8rem;
      }
    }
  }
}
