.main-panel .content {
  &__welcome-text {
    font-size: 1.6rem;
    color: var(--dark-secondary);
    padding: 1.6rem 0 0.8rem 0;
    margin-bottom: 2rem;
    width: 95%;

    @include respond(phone) {
      margin-bottom: 0;
    }
  }

  .custom-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(nav-collapse) {
      // see what to do here
      margin-top: -2rem;
      margin-left: 1rem;

      &__dropdowns {
        z-index: 1050;
      }
    }

    @include respond(phone) {
      flex-direction: column;
      margin-bottom: 3rem;
    }

    &__text {
      flex: 1;
      margin-right: 2rem;

      @include respond(phone) {
        width: 100%;
      }
    }

    &__title img {
      width: 23rem;
    }
  }
}
