.main-panel .content {
  &__welcome-text {
    font-size: 1.6rem;
    color: var(--dark-secondary);
    padding: 1.6rem 0 0.8rem 0;
    margin-bottom: 2rem;
    width: 95%;
  }

  .custom-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(nav-collapse) {
      // see what to do here
      margin-top: -2rem;
      margin-left: 1rem;

      &__dropdowns {
        z-index: 1050;
      }
    }

    &__text {
      flex: 1;
    }

    &__title {
      color: var(--white);
      -webkit-text-stroke: 1px var(--dark-primary);
      font-size: 6rem;
      font-weight: 500;
      line-height: 0.9;
    }
  }
}
