.dark-edition .main-panel {
  width: calc(100% - 30rem);
  background-color: $dark-primary;

  @include respond(big-desktop) {
    width: calc(100% - 33rem);
  }
  @include respond(nav-collapse) {
    width: 100%;
  }

  .content {
    margin-top: .5rem;
    padding: 3rem 5rem;
  }

  //navbar toggle
  .navbar.navbar-absolute {
    padding-top: 2rem;
  }

  //card general style
  .card {
    background: $dark-secondary;

    // .card-header.card-header-info.card-header-icon {
    //   .card-icon {
    //     // background: linear-gradient(30deg, rgba(93, 45, 85, 1) 0%, rgba(62, 30, 56, 1) 51%);

    //   }
    // }
  }
}