.dark-edition .main-panel {
  width: calc(100% - 30rem);
  background-color: $dark-primary;

  @include respond(big-desktop) {
    width: calc(100% - 33rem);
  }
  @include respond(nav-collapse) {
    width: 100%;
  }

  .content {
    margin-top: .5rem;
    padding: 3rem 5rem 0;
    min-height: calc(100vh - .5rem);
  }

  .content .add-new-card-container {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: $grey-secondary;
    margin: 2rem 0 3rem 0;
    transition: all 1s;

    span {
      margin-left: .5rem;
      font-size: 1.8rem;
    }

    &:hover {
      cursor: url(../img/unifty-icons/cursor-pointer.svg), auto;
      span {
        transform: scale(1.1);
      }
    }
  }

  //navbar toggle
  .navbar.navbar-absolute {
    padding-top: 2rem;
  }

  .container-fluid.featured-farms {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  //card general style
  .card {
    background: $dark-secondary;

    // .card-header.card-header-info.card-header-icon {
    //   .card-icon {
    //     // background: linear-gradient(30deg, rgba(93, 45, 85, 1) 0%, rgba(62, 30, 56, 1) 51%);

    //   }
    // }
  }

  //nft header + staking options
  .nftHeader-stakingOptions-container {
    width: 100%;
    display: flex;
  }

  .content .container-fluid {

    &.wallet, &.bridge {
      h1 {
        margin-bottom: 2rem;
      }
    }

    .wallet-container .row, 
    .bridge-container .row {
      margin: 0 0 1rem 0;
      font-size: 1.4rem;
      color: $grey-secondary;
      
      .container-fluid {
        font-size: 1.4rem;
      }
    }

    .wallet-container, .bridge-container {
      padding: 2rem;
      background-color: $dark-secondary;
      box-shadow: $shadow-secondary-dark;
      border-radius: .8rem;

      #stakingOptions a.btn-secondary {
        border:.2rem solid $grey-border;
        border-radius: .8rem;
        background-color: $dark-primary;
        box-shadow: none;
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: .32px;
        padding: .8rem 1.2rem
      }
    }
  }
}