.dark-edition .sidebar {
  width: 30rem;
  background-color: $dark-secondary;
  font-size: 1.6rem;

  &::before {
    background-color: $dark-secondary;
    font-size: 1.6rem;
  }

  @include respond(big-desktop) {
    width: 33rem;
  }
  @include respond(nav-collapse) {
    width: 260px;
  }

  .sidebar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;

    &::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(0deg, #5c5c73 27%,#8b6084 60%);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(13deg, #414166 14%,#eb7bd6 64%);;
    }
    &::-webkit-scrollbar-track {
      background: rgba(253, 121, 226, .1);
      border-radius: 10px;
      box-shadow: inset 7px 10px 12px #121a21;
    }
    &::-webkit-scrollbar-track:hover {
      background: #666666;
    }

    .sidebar-bottom {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      ul {
        text-align: center;
        font-size: 1.4rem;

        li:nth-child(2) {
          margin: 1rem 0;
        }
      }
    }
  }
}

//logo
.dark-edition .sidebar .logo {
  padding: 1.5rem 0;

  &::after {
    content: none;
  }
  
  a.simple-text:hover {
    background-color: transparent;
  }
}

//nav links
.sidebar .nav {
  margin-top: 0;

  i {
    font-size: 2.1rem;
    color: $pink;
    margin-right: 1.3rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.32px;
    color: $grey-primary;
  }

  li:first-child > a {
    margin: 0 2.4rem;
  }
  li:not(:first-child) > a {
    margin: 1rem 2.4rem 0;
  }

  li.active > a {
    background-color: $pink;
  }

  li.active a i,
  li.active a p {
    color: $dark-secondary;
  }

  .nav-item:not(.nav-item.active) a:hover {
    background-color: $pink-hover;
  }

  li a, 
  li .dropdown-menu a {
    padding: .5rem;
    border-radius: .8rem;
  }
}

//icons and rights
.sidebar-text {
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: $grey-secondary;

  &.icons {
    margin: 4rem 0 1rem;
    span a:nth-child(2) {
      margin: 0 4rem;
    }
  }

  &.rights {
    span {
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 0.24px;
      i {
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }
}

.sidebar-divider {
  border-bottom: .1rem solid $color-divider;
  margin: 1.5rem 2.4rem;
}