.dark-edition .sidebar,
.light-edition .sidebar {
  width: 30rem;
  background-color: var(--bg-secondary);
  opacity: 1;
  font-size: 1.4rem;

  &::before {
    background-color: var(--dark-primary);
    font-size: 1.4rem;
  }

  @include respond(big-desktop) {
    width: 33rem;
  }
  @include respond(nav-collapse) {
    width: 260px;
  }

  .sidebar-wrapper {
    width: 100%;
    height: calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    @include respond(big-desktop) {
      padding-bottom: 0.5rem;
    }
    @include respond(tab-land) {
      padding-bottom: 1.5rem;
    }
    @include respond(nav-collapse) {
      padding-bottom: 1.5rem;
    }
    @include respond(tab-port) {
      padding-bottom: 2rem;
    }
    @include respond(phone) {
      padding-bottom: 2.5rem;
    }

    .sidebar-bottom {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 8rem;
      color: var(--grey-primary);

      ul {
        text-align: center;
        font-size: 1.4rem;

        // a {
        //   color: var(--grey-primary);
        // }

        li:nth-child(2) {
          margin: 1rem 0;
        }
      }
    }
  }
}

.dark-edition .sidebar .sidebar-wrapper ul.nav,
.light-edition .sidebar .sidebar-wrapper ul.nav {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
  &::-webkit-scrollbar-track {
    background: var(--scrolbar-track);
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px var(--scrollbar-track-shadow);
  }
  &::-webkit-scrollbar-track:hover {
    background: var(--scrollbar-track-hover);
  }
}

//fix for mobile sidebar
.dark-edition .sidebar .sidebar-wrapper ul.nav.navbar-nav.nav-mobile-menu,
.light-edition .sidebar .sidebar-wrapper ul.nav.navbar-nav.nav-mobile-menu {
  display: none;
}

//logo
.dark-edition .sidebar .logo,
.light-edition .sidebar .logo {
  padding: 4rem 0 5rem 0;

  &::after {
    content: none;
  }

  a.simple-text:hover {
    background-color: transparent;
  }

  img {
    width: 16rem;
  }
}

//nav links
.sidebar .nav {
  margin-top: 0;

  i {
    font-size: 2.1rem;
    color: var(--primary-color);
    color: var(--white);
    margin-right: 1.3rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 700;
    // letter-spacing: 0.32px;
    color: $grey-primary;
    color: var(--white);
  }

  li:first-child > a {
    margin: 0 2.4rem;
  }
  li:not(:first-child) > a {
    margin: 1rem 2.4rem 0;
  }

  li.active > a {
    // background-color: var(--primary-color);
    background-color: var(--golden-primary);
  }

  li.active a i,
  li.active a p {
    // color: var(--bg-secondary);
    color: var(--dark-primary);
  }

  .nav-item:not(.nav-item.active) a:hover {
    // background-color: var(--primary-hover-light);
    background-color: var(--dark-secondary);
  }

  li a,
  li .dropdown-menu a {
    padding: 0.5rem;
    // border-radius: 0.8rem;
    border-radius: 0;
  }
}

//icons and rights
.sidebar-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  // color: var(--grey-primary);

  &.icons {
    margin-bottom: 1rem;
    span a:nth-child(2) {
      margin: 0 4rem;
    }
  }

  &.rights {
    span {
      font-size: 1.4rem;
      text-align: center;
    }
  }
}

.sidebar-divider {
  border-bottom: 0.1rem solid var(--golden-primary);
  margin: 1.5rem 2.4rem;
}
